.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6A758B;
}

.Mui-focused {
	border-color: pink!important;
}

.App-header p {
  margin-bottom: 30px;
}

.App-link {
  color: #61dafb;
}

.Text-wraper {
  margin-bottom: 20px;
  width: 380px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
